arrow==1.2.2
backports.zoneinfo==0.2.1
click==8.0.3
dateparser==1.1.0
dnspython==2.2.0
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
moment==0.12.1
pymongo==4.0.1
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2022.1.18
six==1.16.0
times==0.7
tzdata==2021.5
tzlocal==4.1
uuid==1.30
Werkzeug==2.0.2
